@use "config" as *;
//****************************************
/*

   Блок стилизации навигаций на сайте

*/
.nav {
	--font-size: 1.25rem;

	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: var(--color-black);
	// padding: rem(50) 0;
	padding-left: min(20% + 1.25rem,9.375rem);
	transform: translateY(-100%);
	transition: transform 0.3s ease;

	@include media ('<=phone') {
		padding-top: rem(80);
		padding-bottom: rem(40);
		// padding-left: min(20% + 1.25rem,9.375rem);
	}

	@include media ('>phone') {
		padding: rem(50) 0;
		padding-left: min(20% + 1.25rem,9.375rem);
	}

	&--active {
		transform: translateY(0);
	}

	&__box {
		display: grid;
		color: var(--color-white);
		// list-style: auto !important;
		counter-reset: my-awesome-counter;
		gap: rem(25);
	}

	&__item {
		counter-increment: my-awesome-counter;

		color: var(--color-white);
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		font-size: var(--font-size);
	}

	&__item::before {
		content: "0" counter(my-awesome-counter);
		font-weight: bold;
		font-size: var(--font-size);
		margin-right: var(--font-size);
		line-height: 1;
	}

	&__close {
		position: fixed;
		top: 0;
		left: 0;
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
		margin: 0;
		margin-left: var(--padding-aside);
		margin-top: var(--padding-aside);
		z-index: 9999;
	}

	&__icon {
      // fill: var(--color-white);
      // height: var(--size-nav-icon);
      // aspect-ratio: 1;
   }
}

// Social
.social-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	padding-left: var(--padding-aside);
	padding-bottom: var(--padding-aside);
	z-index: 9999;

	&__list {
		display: grid;
		gap: rem(15);
	}

	&__item {
		color: var(--color-white);
	}
}


